<div class="container-raw">
  <% @gossips.each do |gossip, id| %>
<div class="cards-raw">
  <p class="title-raw">Gossip n°<%= gossip.id %></p>
  <p><strong>Titre</strong> : <%= gossip.title %></p>
  <p><strong>Auteur</strong> : <%= User.find(gossip.user_id).first_name %></p>
  <a href="/gossips/<%=gossip.id%>">Voir le potin</a>
  <a href="/gossips/new">Créer un potin</a>
</div>
  <% end %>
</div>
