<h1>La fine équipe</h1>
<h2>Bienvenue !</h2>
<h3>Notre équipe de moussaillons est composée de :</h3>
<p>Grégory</p>
<p>Pierre</p>
<p>Noellie</p>

<div class="row">
  <div class="col-sm-6">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Grégory</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Âge :</li>
      <li class="list-group-item">Ville :</li>
    </ul>
  </div>
</div>
