<div class="jumbotron jumbotron-fluid">
      <h1 class="display-4 text-center"> La fine équipe </h1>
      <h3 class="lead text-center">Notre équipe de moussaillons est composée de :</h3>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-md-center">

    <div class="col">
      <div class="card border-secondary mb-3 h-100" style="max-width: 18rem;">
      <img src="https://img.freepik.com/vecteurs-libre/personnage-dessin-anime-pirate-du-capitaine-crochet-isole-fond-blanc_1639-23923.jpg?w=2000" class="card-img-top" alt="pirate">
        <div class="card-body">
          <div class="card-body text-secondary">
          <h5 class="card-title text-center">Grégory</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
              <div class="card-footer">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Âge : 37 ans</li>
              <li class="list-group-item">Ville : Chartres</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-secondary mb-3 h-100" style="max-width: 18rem;">
      <img src="https://img.freepik.com/vecteurs-premium/capitaine-pirate-dessin-anime-tenant-carte-au-tresor_29190-4393.jpg" class="card-img-top" alt="pirate">
        <div class="card-body">
          <div class="card-body text-secondary">
          <h5 class="card-title text-center">Pierre</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          </div>
        <div class="card-footer">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Âge : 27 ans</li>
              <li class="list-group-item">Ville : Paris</li>
            </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-secondary mb-3 h-100" style="max-width: 18rem;">
      <img src="https://previews.123rf.com/images/lenm/lenm1410/lenm141000333/32986223-illustration-dot%C3%A9-d-une-jeune-fille-portant-un-costume-de-pirate.jpg" class="card-img-top" alt="pirate">
        <div class="card-body">
          <div class="card-body text-secondary">
          <h5 class="card-title text-center">Noellie</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Âge : 25 ans</li>
            <li class="list-group-item">Ville : Limoges</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>