<div class="jumbotron">
  <h1 class="display-4 text-center">Page Contact</h1>
  <p class="lead">Toute l'équipe est à votre disposition via mail : </p>
  <hr class="my-4">
  <p>Le mail de l'équipe :</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Noegrepi@gmail.com</a>
</div>