<div class="container justify-center text-center">
  <h1 class="display-4e">Contactez-nous</h1>
  <p class="lead">Un conseil ? Une idée ? Une suggestion ? Nous sommes à votre écoute ! </p>
  <hr class="my-4">
  <p>Le mail de l'équipe :</p>
  <a class="btn btn-primary" href="#" role="button">noegrepi@gmail.com</a>
</div>