/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container-raw {
  width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
 }

 .cards-raw {
  background-color: rgba(211, 211, 211, 0.219);
  border-radius: 6px;
  width: 300px;
  padding: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.title-raw {
font-size: 25px;
text-align: center;
}
